NEXT_PUBLIC_SANITY_PROJECT_ID="<YOUR_PROJECT_ID>"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_STUDIO_URL="" #Optional - defaults to http://localhost:3333
SANITY_API_READ_TOKEN="" #Required for draft mode / visual editing
SANITY_REVALIDATE_SECRET="" #Secret for on-demand revalidation webhook from Sanity
